---
import "../assets/app.css";
import Navbar from "../components/navbar.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const i18n = useTranslations(lang);
const { page_setting } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{page_setting.title} | {i18n("nav.logo")}</title>
        <link
            id="dynamic-favicon"
            rel="icon"
            type="image/svg+xml"
            href="data:image/svg+xml,%3Csvg viewBox='-1.05 -1.1677 1.8354 1.8354' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M -0.75 0 A 0.75 0.75 0 0 1 0.7356 -0.1463' fill='none' stroke='%23000000' stroke-width='0.1' stroke-linecap='butt'/%3E%3Cpath d='M -0.9375 -0.087 A 1 0.25 0 0 0 0.75 0.1654' fill='none' stroke='%23000000' stroke-width='0.1' stroke-linecap='butt'/%3E%3C/svg%3E"
            media="(prefers-color-scheme: light)"
        />
        <link
            rel="icon"
            type="image/svg+xml"
            href="data:image/svg+xml,%3Csvg viewBox='-1.05 -1.1677 1.8354 1.8354' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M -0.75 0 A 0.75 0.75 0 0 1 0.7356 -0.1463' fill='none' stroke='%23ffffff' stroke-width='0.1' stroke-linecap='butt'/%3E%3Cpath d='M -0.9375 -0.087 A 1 0.25 0 0 0 0.75 0.1654' fill='none' stroke='%23ffffff' stroke-width='0.1' stroke-linecap='butt'/%3E%3C/svg%3E"
            media="(prefers-color-scheme: dark)"
        />
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>
