---
import "../assets/app.css";
import Navbar from "../components/navbar.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const i18n = useTranslations(lang);
const { page_setting } = Astro.props;
---

<!doctype html>
<html lang={lang}>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{page_setting.title} | {i18n("nav.logo")}</title>
    </head>
    <body>
        <Navbar />
        <slot />
    </body>
</html>
